.upload-form{
	display: grid;
	grid-gap: 30px;
	grid-template-columns: auto;
	max-width: 30%;
	margin: auto;
	font-family: Calibri;
}
.upload-form > input{
    padding: 4% 5%;
    margin: 8px 0;
    border: 0px solid #ccc;
    box-sizing: border-box;
    font-size: 1.1vw;
}
input[type="file"] {
    display: none;
}

.upload-form > label{
    padding: 4%;
    background: red; 
    display: table;
    color: #fff;
    font-size: 1.1vw;
}
.upload-form > label:hover{
	background-color: green;
}

@media screen and (max-width: 600px){
	.upload-form{
		display: grid;
		grid-gap: 30px;
		grid-template-columns: auto;
		text-align: center;
		max-width: 80%;
		margin: auto;
	}
	.upload-form > input{
		font-size: 2vw;
	}
	.upload-form > label{
		font-size: 2vw;
	}
}
